<template>
  <div class="conhbdwtainer" v-if="isShow">
    <div class="center-container" :style="{ opacity: maskOpacity }">
      <div class="head">护保队伍详情</div>
      <div class="close" @click="close"></div>
      <div class="search-box">
        <div class="search-params">
          <span>姓名:</span>
          <el-input
            size="mini"
            :style="{ width: `${120 / 192}rem !important` }"
            v-model="searchParams.name"
            placeholder
          ></el-input>
          <span>人员类型:</span>
          <el-select
            clearable
            v-model="searchParams.peopleType"
            filterable
            size="mini"
            placeholder="类型"
            :style="{ width: `${120 / 192}rem !important` }"
          >
            <el-option
              v-for="item in [
                { name: '应急处置员', id: '1' },
                { name: '党员', id: '2' },
                { name: '志愿者', id: '3' },
                { name: '护保员', id: '4' },
                { name: '其他', id: '5' },
              ]"
              :key="item.id"
              :label="item.name"
              :value="item.name"
            ></el-option>
          </el-select>
        </div>
        <div class="btn-search" @click="search">搜索</div>
      </div>
      <div class="table-box">
        <Table
          :tableColumns="tableColumns"
          :tableData="tableData"
          :headTextColor="'#e4f0ff'"
          :rowTextColor="'#a6b9ff'"
          :hasIndex="true"
        >
          <template slot="preview" slot-scope="scope">
            <div style="width: 100%; display: flex; align-items: center">
              <div class="btn-slot" @click="preview(scope.row)">查看</div>
            </div>
          </template>
        </Table>
      </div>
      <div class="pagination">
        <el-pagination
          @current-change="pageNumChange"
          :current-page="currentPage"
          :page-size="pageSize"
          :pager-count="5"
          layout="total, prev, pager, next"
          :total="total"
        ></el-pagination>
      </div>
    </div>
    <HBYDetail :isShow="isShow_hbyDetail" :row_data="row_data" @close="close_hbyDetail" />
  </div>
</template>
<script>
import { wbd_list2, szzj } from '@/api/xsApi.js';
import { get_hbdw_detail, hbdwxq_info, getPersonData } from '@/api/xsApi3';
import Table from './table';
import HBYDetail from './hbyDetail';
import { formatName, formatPhone } from '@/utils/tools';
export default {
  props: {
    isShow: {
      type: Boolean,
      default: false,
    },
    jdData: {
      type: String,
      default: '',
    },
  },
  components: { Table, HBYDetail },
  data() {
    return {
      maskOpacity: 1,
      searchParams: {
        name: '',
        peopleType: '',
        pointName: '',
        jd: '',
      },
      row_data: 0,
      streetList: [],
      bumpPointList: [],
      tableColumns: [
        {
          name: '姓名',
          props: 'nickName',
          format: row => {
            if (row.nickName) {
              return formatName(row.nickName);
            } else {
              return '-';
            }
          },
        },
        {
          name: '人员分类',
          props: 'roleName',
          flex: 1,
          format: row => {
            // if (row.roleName && row.roleName == '文保员') {
            //   return '护保员';
            // } else {
            //   return row.roleName;
            // }
            return '文保员';
          },
        },
        {
          name: '文保单位',
          props: 'publishName',
          format: row => {
            if (row.publishName && row.publishName.length > 8) {
              return row.publishName.substr(0, 8) + '...';
            } else {
              return row.publishName || '-';
            }
          },
        },
        {
          name: '镇街',
          props: 'jd',
          // format: row => {
          //   let temp = ['戴村镇', '河上镇', '楼塔镇', '进化镇', '党湾镇', '蜀山街道', '新塘街道', '南阳街道', '瓜沥镇', '临浦镇'];
          //   if (row.id) {
          //     return row.id;
          //   } else {
          //     return temp[+row.phone[row.phone.length - 1]];
          //   }
          // },
        },
        {
          props: 'preview',
          name: '',
          name: '操作',
          withSlot: true,
        },
      ],
      tableData: [],
      pageSize: 5,
      currentPage: 1,
      total: 0,
      isShow_hbyDetail: false,
    };
  },
  mounted() {
    this.getBumpPointList();
    // 挂载到body下
    this.$nextTick(() => {
      const body = document.querySelector('body');
      if (body.append) {
        body.append(this.$el);
      } else {
        body.appendChild(this.$el);
      }
    });
  },
  watch: {
    isShow(val) {
      if (val) {
        this.currentPage = 1;
        this.searchParams = {
          name: '',
          peopleType: '',
          pointName: '',
          jd: '',
        };
        this.getStreetList();
        this.getHBDW_detail();
      }
    },
  },
  methods: {
    pageNumChange(val) {
      this.currentPage = val;
      this.getHBDW_detail();
    },
    search() {
      this.currentPage = 1;
      this.getHBDW_detail();
    },
    getHBDW_detail() {
      let params = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        jd: this.searchParams.jd,
        userType: this.searchParams.pointName,
        nickName: this.searchParams.name,
      };
      getPersonData(params).then(res => {
        this.tableData = res.data.data.list;
        this.tableData.map(v => {
          v.jd = this.jdData;
        });
        this.total = res.data.data.total;
      });
    },
    close() {
      this.$emit('close');
    },
    // 获取文保点列表
    getBumpPointList() {
      if (this.$store.state.hugeListData && this.$store.state.hugeListData.length) {
        this.bumpPointList = this.$store.state.hugeListData;
      } else {
        let params = {
          currentPage: 1,
          pageSize: 600,
        };
        wbd_list2(params).then(res => {
          // console.log("lol", res.data);
          this.bumpPointList = res.data.data.list;
        });
      }
    },
    // 获取镇街列表
    getStreetList() {
      if (this.$store.state.commonStreetList && this.$store.state.commonStreetList.length) {
        this.streetList = this.$store.state.commonStreetList;
      } else {
        szzj().then(res => {
          this.streetList = res.data.data;
          this.$store.commit('setCommonStreetList', res.data.data);
        });
      }
    },
    // 打开二级页面
    preview(row) {
      this.row_data = row;
      this.isShow_hbyDetail = true;
      this.maskOpacity = 0;
    },
    // 关闭二级弹框，显示当前弹框
    close_hbyDetail() {
      this.isShow_hbyDetail = false;
      this.maskOpacity = 1;
    },
  },
};
</script>
<style lang="less" scoped>
.conhbdwtainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 13;
  background: rgba(0, 0, 0, 0.7);
  .center-container {
    width: 1026px;
    height: 826px;
    position: relative;
    background: url('~@/assets/img4/s-pop-bg.png') no-repeat center;
    background-size: 100% 100%;
    box-sizing: border-box;
    padding: 12px 35px 35px 35px;
    .close {
      width: 54px;
      height: 53px;
      position: absolute;
      top: 0px;
      right: 0px;
      background: url('~@/assets/img4/close.png') no-repeat center;
      background-size: 100% 100%;
      cursor: pointer;
    }
    .head {
      width: 100%;
      height: 79px;
      background: url('~@/assets/img4/pop-title.png') no-repeat center;
      background-size: auto 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Lucida Calligraphy', cursive, serif, sans-serif;
      font-size: 30px;
      letter-spacing: 2px;
      color: #ffffff;
    }
    .search-box {
      width: calc(100% - 20px);
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      margin-left: 10px;
      .search-params {
        width: auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        box-sizing: border-box;
        span {
          font-family: MicrosoftYaHei;
          font-size: 16px;
          letter-spacing: 0px;
          color: #f5fdff;
          margin-left: 20px;
          margin-right: 5px;
        }
        span:nth-child(1) {
          margin-left: 0;
        }
      }
      .btn-search {
        width: 60px;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border: 1px solid #8ba4fe;
        background: #34478c;
        font-family: PingFangSC-Semibold;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 1px;
        color: #8ba4fe;
        cursor: pointer;
      }
    }
    .table-box {
      width: 100%;
      height: 600px;
      .btn-slot {
        width: 60px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border: 1px solid #8ba4fe;
        background: #34478c;
        font-family: PingFangSC-Semibold;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 1px;
        color: #8ba4fe;
        cursor: pointer;
      }
    }
    .pagination {
      text-align: center;
    }
  }
}
</style>
