<template>
  <div class="container" v-if="isShow" :style="{ opacity: maskOpacity }">
    <div class="center-container">
      <div class="head">设备总预警列表</div>
      <div class="close" @click="close"></div>
      <div class="search-box">
        <div class="search-params">
          <span>文保单位:</span>
          <el-select
            clearable
            v-model="searchParams.pointId"
            filterable
            size="mini"
            placeholder="文物"
            :style="{ width: `${150 / 192}rem !important` }"
          >
            <el-option
              v-for="item in bumpPointList"
              :key="item.id"
              :label="item.publishName"
              :value="item.id"
            ></el-option>
          </el-select>
          <span>设备类型:</span>
          <el-select
            clearable
            v-model="searchParams.deviceType"
            filterable
            size="mini"
            placeholder="设备类型"
            :style="{ width: `${150 / 192}rem !important` }"
          >
            <el-option
              v-for="item in deviceTypeList"
              :key="item.id"
              :label="item.name"
              :value="item.name"
            ></el-option>
          </el-select>
          <span>处置情况:</span>
          <el-select
            clearable
            v-model="searchParams.handleStatus"
            filterable
            size="mini"
            placeholder="处置情况"
            :style="{ width: `${150 / 192}rem !important` }"
          >
            <el-option
              v-for="item in handleStatusList"
              :key="item.id"
              :label="item.name"
              :value="item.name"
            ></el-option>
          </el-select>
        </div>
        <div class="btn-search" @click="search">搜索</div>
      </div>
      <div class="table-box">
        <Table
          :tableColumns="tableColumns"
          :tableData="tableData"
          :headTextColor="'#e4f0ff'"
          :rowTextColor="'#a6b9ff'"
          :hasIndex="true"
        >
          <template slot="sysAlarm" slot-scope="scope">
            <span
              :style="{color:scope.row.sysAlarm.includes('存在风险')?'#ff5468':'#a8b0d0'}"
            >{{ scope.row.sysAlarm }}</span>
          </template>
          <template slot="manualReview" slot-scope="scope">
            <!-- <span v-if="scope.row.manualReview=='1'" style="color:#ff5468">存在风险</span> -->
            <span v-if="scope.row.manualReview=='未复核'" style="color:#ffbb19">未复核</span>
            <span v-else-if="scope.row.manualReview=='存在风险'" style="color:#a8b0d0">存在风险</span>
            <span v-else-if="scope.row.manualReview=='无隐患'" style="color:#a8b0d0">无隐患</span>
            <span v-else style="color:#a8b0d0">{{ scope.row.manualReview }}</span>
          </template>
          <template slot="disposalStatus" slot-scope="scope">
            <span v-if="scope.row.disposalStatus=='已处置'" style="color:#31f7cb">已处置</span>
            <span v-if="scope.row.disposalStatus=='未处置'" style="color:#a8b0d0">未处置</span>
          </template>
          <template slot="preview" slot-scope="scope">
            <div style="width: 100%; display: flex; align-items: center">
              <div class="btn-slot" @click="preview(scope.row)">查看</div>
            </div>
          </template>
        </Table>
      </div>
      <div class="pagination">
        <el-pagination
          @current-change="pageNumChange"
          :current-page="currentPage"
          :page-size="pageSize"
          :pager-count="5"
          layout="total, prev, pager, next"
          :total="total"
        ></el-pagination>
      </div>
    </div>

    <WarningEventDetail :isShow="isShow_detail" :rowData="rowData" @close="closeDetail" />
  </div>
</template>
<script>
import { eventBus } from '@/main';
import { wbd_list2, szzj } from '../../../api/xsApi.js';
import { getWarningDisposalList, get_warning_list_data} from '../../../api/xsApi3.js';
import Table from './component/table';
import WarningEventDetail from './warningEventDetail';
import { mapState } from 'vuex';
export default {
  props: {
    isShow: {
      type: Boolean,
      default: false,
    },
  },
  components: { Table, WarningEventDetail },
  data() {
    return {
      rowData: {},
      maskOpacity: 1,
      searchParams: {},
      bumpPointList: [],
      streetList: [],
      deviceTypeList: [
        {
          name: '烟感',
          id: '1',
        },
        {
          name: '火感',
          id: '2',
        },
        {
          name: '水压',
          id: '3',
        },
        {
          name: '电流',
          id: '4',
        },
        // {
        //   name: '监控',
        //   id: '5',
        // },
      ],
      handleStatusList: [
        {
          id: '1',
          name: '未处置',
        },
        {
          id: '2',
          name: '已处置',
        },
      ],
      tableColumns: [
        {
          name: '文保单位',
          props: 'bumpPointName',
          flex: 1.1,
          format: row => {
            if (row.bumpPointName) {
              return row.bumpPointName;
            } else {
              return '-';
            }
          },
        },
        {
          name: '设备类型',
          props: 'deviceType',
          format: row => {
            if (row.deviceType) {
              return row.deviceType;
            } else {
              return '-';
            }
          },
        },
        {
          name: '设备名称',
          props: 'deviceName',
          format: row => {
            if (row.deviceName) {
              return row.deviceName;
            } else {
              return '-';
            }
          },
        },
        {
          name: '预警时间',
          props: 'warningTime',
          flex: 1.5,
          format: row => {
            if (row.warningTime) {
              return row.warningTime;
            } else {
              return '-';
            }
          },
        },

        {
          name: '系统判定',
          props: 'sysAlarm',
          withSlot: true,
        },
        {
          name: '人工复核',
          props: 'manualReview',
          flex: 1.2,
          withSlot: true,
        },
        {
          name: '处置情况',
          props: 'disposalStatus',
          flex: 0.8,
          withSlot: true,
        },
        {
          name: '',
          props: 'preview',
          flex: 0.7,
          withSlot: true,
        },
      ],
      tableData: [
        {
          bumpPointName: '务本堂',
          deviceType: '电压',
          deviceName: '电压传感器',
          warningTime: '2022-11-17 12:10:39',
          sysAlarm: '存在风险',
          manualReview: '未复核',
          disposalStatus: '已处置',
        },
      ],
      pageSize: 15,
      currentPage: 1,
      total: 0,

      // 详情配置
      isShow_detail: false,
    };
  },
  created() {
    // eventBus.$on('onlyPreview', () => {
    //   this.maskOpacity = 1;
    // });
  },
  computed: {
    ...mapState(['hookMapReactionWithTopData']),
  },
  watch: {
    isShow(nval, val) {
      this.currentPage = 1;
      this.total = 0;
      this.$nextTick(() => {
        if (nval) {
          this.getList();
        }
      });
    },
  },
  mounted() {
    this.getBumpPointList();
    // 挂载到body下
    this.$nextTick(() => {
      const body = document.querySelector('body');
      if (body.append) {
        body.append(this.$el);
      } else {
        body.appendChild(this.$el);
      }
    });
  },
  methods: {
    pageNumChange(val) {
      this.currentPage = val;
      this.getList();
    },
    search() {
      this.currentPage = 1;
      this.getList();
    },
    getList() {
      let params = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        bumpPointId: this.searchParams.pointId || '',
        isOver:this.searchParams.handleStatus || '',
        deviceType:this.searchParams.deviceType || '',
      };
      get_warning_list_data(params).then(res => {
        console.log(res)
        if (res && res.data && res.data.code && res.data.code == 200) {
          this.tableData = res.data.data.list
          this.total = res.data.data.total
        }
      });
    },
    close() {
      this.$emit('close');
    },
    // 查看预警详情
    preview(item) {
      this.rowData = item;
      this.maskOpacity = 0;
      this.isShow_detail = true;
    },
    // 关闭详情弹框
    closeDetail() {
      this.maskOpacity = 1;
      this.isShow_detail = false;
    },
    // 获取文保点列表
    getBumpPointList() {
      let params = {
        currentPage: 1,
        pageSize: 600,
      };
      wbd_list2(params).then(res => {
        // console.log('lol', res.data)
        this.bumpPointList = res.data.data.list;
      });
    },
    // 获取镇街列表
    getStreetList() {
      if (this.$store.state.commonStreetList && this.$store.state.commonStreetList.length) {
        this.streetList = this.$store.state.commonStreetList;
      } else {
        szzj().then(res => {
          this.streetList = res.data.data;
          this.$store.commit('setCommonStreetList', res.data.data);
        });
      }
    },
  },
};
</script>
<style lang="less" scoped>
.container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 13;
  background: rgba(0, 0, 0, 0.7);
  .center-container {
    width: 1250px;
    height: 826px;
    position: relative;
    background: url('../../../assets/img4/s-pop-bg.png') no-repeat center;
    background-size: 100% 100%;
    box-sizing: border-box;
    padding: 12px 35px 35px 35px;
    .close {
      width: 54px;
      height: 53px;
      position: absolute;
      top: 0px;
      right: 0px;
      background: url('../../../assets/img4/close.png') no-repeat center;
      background-size: 100% 100%;
      cursor: pointer;
    }
    .head {
      width: 100%;
      height: 79px;
      background: url('../../../assets/img4/pop-title.png') no-repeat center;
      background-size: auto 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      font-family: 'Lucida Calligraphy', cursive, serif, sans-serif;
      font-size: 30px;
      font-weight: normal;
      font-stretch: normal;
      letter-spacing: 2px;
      color: #ffffff;
    }

    .search-box {
      width: calc(100% - 20px);
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      margin-left: 10px;
      .search-params {
        width: auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        box-sizing: border-box;
        span {
          font-family: MicrosoftYaHei;
          font-size: 16px;
          font-weight: normal;
          font-stretch: normal;
          letter-spacing: 0px;
          color: #f5fdff;
          margin-left: 20px;
          margin-right: 5px;
        }
        span:nth-child(1) {
          margin-left: 0;
        }
      }

      .btn-search {
        width: 60px;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border: 1px solid #8ba4fe;
        background: #34478c;
        font-family: PingFangSC-Semibold;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 1px;
        color: #8ba4fe;
        cursor: pointer;
      }
    }
    .table-box {
      width: 100%;
      height: 600px;
      .btn-slot {
        width: 60px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border: 1px solid #8ba4fe;
        background: #34478c;
        font-family: PingFangSC-Semibold;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 1px;
        color: #8ba4fe;
        cursor: pointer;
      }
    }
    .pagination {
      text-align: center;
    }
  }
}
</style>
