<template>
  <div class="container" v-if="isShow" :style="{ opacity: maskOpacity }">
    <div class="center-container">
      <div class="head">预警任务详情</div>
      <div class="close" @click="close"></div>
      <div class="basic-box">
        <!-- <Table :tableColumns="tableColumns" :tableData="tableData" :headTextColor="'#e4f0ff'" :rowTextColor="'#a6b9ff'" :hasIndex="false" /> -->
        <div class="item">
          <span>文保单位：</span>
          <span>{{ rowData.bumpPointName}}</span>
        </div>
        <div class="item">
          <span>所属镇街：</span>
          <span>{{ jd}}</span>
        </div>
        <div class="item">
          <span>设备类型：</span>
          <span style="color:#ffbb19; ">{{ rowData.deviceType}}</span>
        </div>
        <div class="item">
          <span>设备名称：</span>
          <span>{{ rowData.deviceName}}</span>
        </div>
        <!-- <div class="item">
          <span>存在风险:</span>
          <span>{{ rowData.sysAlarm}}</span>
        </div> -->
        <div class="item">
          <span>设备编号：</span>
          <span>{{ basicData.deviceCode|formatCode}}</span>
        </div>
        <div class="item">
          <span>预警时间：</span>
          <span>{{ rowData.warningTime}}</span>
        </div>
      </div>

      <div class="scroll-box">
        <div class="relative-device-title">
          <img src="@/assets/img4/t-p.png" alt srcset />
          <span>联动设备</span>
        </div>
        <div v-if="relativeDeviceList_format.length>0" class="relative-device-table-box">
          <div class="box-item" v-for="(item,index) in relativeDeviceList_format" :key="index">
            <div class="box-item-top">
              <div class="box-item-img">
                <img :src="item.img" alt />
              </div>
              <div class="box-item-title-img">
                <img :src="item.titleImg" alt />
              </div>
              <!-- <div class="box-title">
                <span>{{ item.name }}</span>
              </div> -->
            </div>
            <div class="table-box">
              <Table
                :tableColumns="tableColumns_2"
                :tableData="item.tableData"
                :isStripe="true"
                :headTextColor="'#a7bdfd'"
                :rowTextColor="'#a6b9ff'"
                :hasIndex="true"
              >
              <template slot="waringStatus" slot-scope="scope">
                <span v-if="scope.row.waringStatus=='预警中'" style="color:rgb(255, 89, 89)">预警中</span>
                <span v-else>未预警</span>
              </template>
              </Table>
            </div>
          </div>
        </div>
        <div class="empty" v-else>
          <span>暂无关联设备预警</span>
        </div>

        <div class="relative-device-title">
          <img src="@/assets/img4/t-p.png" alt srcset />
          <span>监控照片</span>
        </div>
        <div v-if="imgList.length>0" class="camera-img">
          <div class="box-item" v-for="(sub, subIndex) in imgList" :key="subIndex">
            <!-- <img :src="item.imgUrl" alt srcset /> -->
            <img @click="() => showImg(subIndex, imgList)" :src="sub.imgUrl" />
            <div class="txt">设备抓拍</div>
          </div>
          <viewer :images="imgList" :options="options" @inited="inited" class="viewer" ref="viewer2" v-show="false">
            <img v-for="(src, index) in imgList" :src="src.imgUrl" :key="index" />
          </viewer>

        </div>
        <div class="empty" v-else>
          <span>暂无监控照片</span>
        </div>
        <div class="sys-res">
          <div class="divider"></div>
          <span>系统判定为</span>
          <span style="color:rgb(255, 89, 89);">{{rowData.sysAlarm||'存在风险'}}</span>
        </div>
      </div>

      <div class="re-audit">
        <span>人工复核：</span>
        <span style="color:#ffbb19;" v-if="rowData.manualReview=='未复核'">{{rowData.manualReview||'未复核'}}</span>
        <span style="color:#50b7ff;" v-if="rowData.manualReview=='无隐患'">{{rowData.manualReview||'无隐患'}}</span>
        <span v-if="rowData.manualReview=='存在风险'">{{rowData.manualReview||'存在风险'}}</span>
        <span v-if="rowData.manualReview!='未复核'&&basicData.reviewTime">{{ basicData.reviewTime }}</span>
      </div>
      <div class="status">
        <span>处置情况：</span>
        <span v-if="rowData.disposalStatus=='未处置'" style="color:#ffbb19;">
          <img src="@/assets/img4/s-icon1.png" /> 未处置
        </span>
        <span v-else>
          <img src="@/assets/img4/s-icon1.png" /> 已处置
        </span>
        <div v-if="rowData.disposalStatus=='已处置'" class="btn" @click="previewEventHandleDetail">查看</div>
      </div>
    </div>

    <EventHandleDetail :detailData="handleDetail" :isShow="isShowHandleDetail" @close="closeHandelDetail" />
  </div>
</template>
<script>
import { eventBus } from '@/main';
import Table from './component/table';
import { deviceRelationManager, findHikCameraDeviceListByType, findHikFireDeviceList,get_warning_detail_data } from '@/api/xsApi3';
import EventHandleDetail from './eventHandleDetail';
export default {
  props: {
    rowData: {
      type: Object,
      default() {
        return {};
      },
    },
    isShow: {
      type: Boolean,
      default: false,
    },
  },
  components: { Table, EventHandleDetail },
  data() {
    return {
      jd: '',
      maskOpacity: 1,
      // deviceTypeList: [
      //   {
      //     name: '烟感',
      //     id: '1',
      //   },
      //   {
      //     name: '火感',
      //     id: '2',
      //   },
      //   {
      //     name: '水压',
      //     id: '3',
      //   },
      //   {
      //     name: '电流',
      //     id: '4',
      //   },
      //   {
      //     name: '监控',
      //     id: '5',
      //   },
      // ],
      // handleStatusList: [
      //   {
      //     id: '1',
      //     name: '未处置',
      //   },
      //   {
      //     id: '2',
      //     name: '已处置',
      //   },
      // ],
      basicData: {
        bumpPointName: '务本堂',
        jd: '进化镇',
        deviceType: '电压',
        deviceName: '电压传感器',
        deviceCode: 'Dy0001',
        createTime: '2022-11-17 12:10:39',
        reviewTime: ''
      },

      relativeDeviceList: [
        {
          name: '烟感设备',
          img: require('@/assets/img4/icon-yg.png'),
          titleImg: require('@/assets/img4/txt1.png'),
          tableData: [],
        },
        {
          name: '水压设备',
          img: require('@/assets/img4/icon-sy.png'),
          titleImg: require('@/assets/img4/txt2.png'),
          tableData: [],
        },
        {
          name: '火感设备',
          img: require('@/assets/img4/icon-hg.png'),
          titleImg: require('@/assets/img4/txt3.png'),
          tableData: [],
        },
        {
          name: '电流设备',
          img: require('@/assets/img4/icon-dl.png'),
          titleImg: require('@/assets/img4/txt4.png'),
          tableData: [],
        },
        {
          name: '监控设备',
          img:require('@/assets/img4/video.png'),
          titleImg:require('@/assets/img4/txt5.png'),
          tableData: [],
        },
      ],
      relativeDeviceList_format:[],
      tableColumns_2: [
        {
          name: '文保单位',
          props: 'bumpPointName',
          format: row => {
            if (row.bumpPointName) {
              return row.bumpPointName;
            } else {
              return '-';
            }
          },
        },
        {
          name: '设备名称',
          props: 'deviceName',
          format: row => {
            if (row.deviceName) {
              return row.deviceName;
            } else {
              return '-';
            }
          },
        },
        {
          name: '设备编号',
          props: 'deviceCode',
          format: row => {
            if (row.deviceCode) {
              return row.deviceCode;
            } else {
              return '-';
            }
          },
        },
        {
          name: '预警状态',
          props: 'waringStatus',
          withSlot:true
        },
      ],
      imgList: [
        {
          imgUrl: require('@/assets/img4/img.png'),
        },
        {
          imgUrl: require('@/assets/img4/img.png'),
        },
        {
          imgUrl: require('@/assets/img4/img.png'),
        },
        {
          imgUrl: require('@/assets/img4/img.png'),
        },
      ],
      options: {
        initialViewIndex: 0,
      },

      // 事件处置详情配置
      isShowHandleDetail: false,
      handleDetail:{}
    };
  },
  created() {
    // deviceRelationManager({ bumpPointName: '许家南大房' })
    //   .then(res => {
    //     this.jd = res.data.data.jd;
    //     console.log(res);
    //   })
    //   .catch(err => {});
  },
  computed: {},
  filters:{
    formatCode(val){
      if(val.length>15){
        return val.substr(0,15) + '...'
      }else{
        return val
      }
    },
  },
  watch: {
    isShow(nval, val) {
      console.log('2226662',this.rowData.manualReview)
      this.$nextTick(() => {
        if (nval) {
          this.getDetail();
        }
      });
    },
  },
  mounted() {
    // 挂载到body下
    this.$nextTick(() => {
      const body = document.querySelector('body');
      if (body.append) {
        body.append(this.$el);
      } else {
        body.appendChild(this.$el);
      }
    });
    // findHikCameraDeviceListByType({
    //   deviceId: '1',
    // }).then(res => {
    //   let params = res.data.data;
    //   let typeList = {};
    //   let typeListForData = [];
    //   let index = 0;
    //   params.map(v => {
    //     if (!typeList[v.deviceTypeName] && v.deviceTypeName != null) {
    //       typeList[v.deviceTypeName] = { arr: [] };
    //       typeListForData.push({ name: v.deviceTypeName, tableData: [] });
    //     }
    //     console.log(typeList[v.deviceTypeName]);
    //     if (typeList[v.deviceTypeName]) {
    //       typeList[v.deviceTypeName].arr.push(v);
    //     }
    //     if (v.deviceTypeName == null && typeList[v.deviceTypeName]) {
    //       typeList['枪机'] = {};
    //     }
    //   });
    //   typeListForData.map(v => {
    //     if (typeList[v.name]) {
    //       v.tableData = typeList[v.name].arr;
    //     }
    //   });
    //   // this.relativeDeviceList = typeListForData;
    //   findHikFireDeviceList({
    //     deviceId: '1',
    //   })
    //     .then(res => {
    //       let params = res.data.data;
    //       for (const v in params) {
    //         typeListForData.push({ name: v, tableData: params[v] });
    //       }
    //     })
    //     .catch(err => {});
    //   this.relativeDeviceList = typeListForData;
    // });
  },
  methods: {
    getDetail() {
      get_warning_detail_data(this.rowData.id).then(res=>{
        console.log('222653',res.data)
        this.handleDetail = res.data.data.baseCheckDisposalVO
        this.jd = res.data.data.jdName
        this.basicData.deviceCode = res.data.data.deviceCode
        this.basicData.reviewTime = res.data.data.reviewTime
        if(res.data.data.map){
          let resObj = res.data.data.map
          this.relativeDeviceList[0].tableData=resObj['烟感设备']?resObj['烟感设备']:[]
          this.relativeDeviceList[1].tableData=resObj['用水主机']?resObj['用水主机']:[]
          this.relativeDeviceList[2].tableData=resObj['火感设备']?resObj['火感设备']:[]
          this.relativeDeviceList[3].tableData=resObj['用电主机']?resObj['用电主机']:[]
          this.relativeDeviceList[4].tableData=resObj['视频设备']?resObj['视频设备']:[]
        }
        this.relativeDeviceList_format = this.relativeDeviceList.filter(item=>{
          console.log(item.tableData)
          // return true
          return item.tableData.length>0
        })

        // 获取抓拍图片
        this.imgList=[]
        if(res.data.data.picUrlVoList.length>0){
          let arr = res.data.data.picUrlVoList.slice(0,4).map(item=>{
            return {imgUrl:item.picUrl}
          })
          this.imgList=this.imgList.concat(arr)
        }
        if(res.data.data.picUrlVoTemperatureList.length>0){
          let arr = res.data.data.picUrlVoTemperatureList.slice(0,4).map(item=>{
            return {imgUrl:item.picUrl}
          })
          this.imgList=this.imgList.concat(arr)
        }
        console.log(this.imgList)

      })
    },
    close() {
      this.$emit('close');
    },

    // 图片放大
    inited(viewer) {
      this.$viewer = viewer;
    },
    showImg(index, item) {
      this.options.initialViewIndex = index;
      this.images = item;
      setTimeout(() => {
        this.$viewer.show();
      }, 400);
    },

    // 查看事件处置详情
    previewEventHandleDetail(item) {
      this.maskOpacity = 0;
      this.isShowHandleDetail = true;
    },
    closeHandelDetail() {
      this.maskOpacity = 1;
      this.isShowHandleDetail = false;
    },
  },
};
</script>
<style lang="less" scoped>
.container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 13;
  background: rgba(0, 0, 0, 0.7);
  .center-container {
    width: 1026px;
    height: 1000px;
    position: relative;
    background: url('../../../assets/img4/s-pop-bg.png') no-repeat center;
    background-size: 100% 100%;
    box-sizing: border-box;
    padding: 12px 35px 35px 35px;
    .close {
      width: 54px;
      height: 53px;
      position: absolute;
      top: 0px;
      right: 0px;
      background: url('../../../assets/img4/close.png') no-repeat center;
      background-size: 100% 100%;
      cursor: pointer;
    }
    .head {
      width: 100%;
      height: 79px;
      background: url('../../../assets/img4/pop-title.png') no-repeat center;
      background-size: auto 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      font-family: 'Lucida Calligraphy', cursive, serif, sans-serif;
      font-size: 30px;
      font-weight: normal;
      font-stretch: normal;
      letter-spacing: 2px;
      color: #ffffff;
    }
    .basic-box {
      width: 100%;
      height: 91px;
      margin-bottom: 15px;
      background: url('@/assets/img4/box1.png') no-repeat center;
      background-size: 100% 100%;
      box-sizing: border-box;
      padding: 22px;
      display: flex;
      flex-wrap: wrap;
      .item {
        height: 50%;
        width: 33.3%;
        display: flex;
        align-items: center;
        span {
          font-family: SourceHanSansCN-Medium;
          font-size: 16px;
          font-weight: normal;
          font-stretch: normal;
          letter-spacing: 2px;
          color: #ffffff;
        }
      }
    }

    .scroll-box {
      width: 100%;
      max-height: calc(100% - 320px);
      overflow: auto;
      margin-bottom: 20px;
      .relative-device-title {
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        img {
          width: 26px;
          height: 26px;
        }
        span {
          font-family: SourceHanSansCN-Regular;
          font-size: 18px;
          font-weight: normal;
          font-stretch: normal;
          letter-spacing: 0px;
          color: #85d3fd;
        }
      }
      .relative-device-table-box {
        width: 100%;
        min-height: 200px;
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        flex-wrap: wrap;
        // overflow: auto;
        .box-item {
          background: url('@/assets/img4/txt-bg.png') no-repeat center;
          background-size: 100% 100%;
          width: 49%;
          max-height: 250px;
          // margin: 20px 0;
          margin: 20px 0 10px 0;

          .box-item-top {
            display: flex;
            align-items: center;
            margin-top: -25px;
            margin-left: -15px;
            .box-item-img {
              width: 86px;
              height: 59px;
              img {
                width: 100%;
                height: 100%;
              }
            }
          }

          .box-title {
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            span {
              font-family: 'Lucida Calligraphy', cursive, serif, sans-serif;
              font-size: 20px;
              font-weight: normal;
              font-stretch: normal;
              letter-spacing: 2px;
              color: #ffffff;
            }
          }
          .table-box {
            width: 100%;
            height: 120px;
          }
        }
      }
      .camera-img {
        width: 100%;
        min-height: 100px;
        // overflow: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .box-item {
          width: 210px;
          height: 117px;
          margin: 0 8px 8px 0;
          position: relative;
          img {
            width: 100%;
            height: 100%;
          }
          .txt {
            width: 100%;
            height: 30px;
            background: rgba(0, 0, 0, 0.3);
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 0;
            bottom: 0;

            font-family: SourceHanSansCN-Regular;
            font-size: 13px;
            color: #ffffff;
          }
        }
      }
      .empty {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          font-family: 'Lucida Calligraphy', cursive, serif, sans-serif;
          font-size: 18px;
          font-weight: normal;
          font-stretch: normal;
          letter-spacing: 2px;
          color: #ffffff;
        }
      }
    }

    .sys-res {
      width: 100%;
      height: 47px;
      display: flex;
      align-items: center;
      background-image: linear-gradient(45deg, rgba(255, 84, 104, 0.5) 0%, rgba(0, 163, 247, 0) 100%);
      margin: 10px 0;
      .divider {
        width: 7px;
        height: 25px;
        background-color: #ff5468;
      }
      span {
        font-family: PingFangSC-Semibold;
        font-size: 18px;
        font-stretch: normal;
        color: #fff;
        margin-left: 8px;
      }
    }
    .re-audit {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 30px;
      margin-bottom: 5px;
      span {
        font-family: PingFangSC-Semibold;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        color: #fff;
        &:nth-child(2) {
          color: #ff5468;
          margin: 0 8px;
        }
      }
    }
    .status {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 30px;
      span {
        font-family: PingFangSC-Semibold;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        color: #fff;
        &:nth-child(2) {
          margin: 0 8px;
          font-size: 16px;
          color: #50b7ff;
          img {
            vertical-align: text-top;
          }
        }
      }
      .btn {
        width: 90px;
        height: 30px;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        // border: 1px solid #8ba4fe;
        border-radius: 15px;
        background: #3e84e8;
        font-family: PingFangSC-Semibold;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 1px;
        color: #fff;
        cursor: pointer;
      }
    }
  }
}
</style>
