<template>
  <div class="confxlytainer" v-if="isShow" :style="{ opacity: maskOpacity }">
    <div class="center-container">
      <div class="head">{{title}}布局图</div>
      <div class="close" @click="close"></div>
      <div class="body-box">
        <div class="post1" @click="openImg(false)"></div>
        <div class="post2" @click="openImg(true)"></div>
        <img v-if="showImg" src="~@/assets/img4/1f.png" alt />
        <img v-else src="~@/assets/img4/2f.png" alt />
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    isShow: {
      type: Boolean,
      default: false,
    },
    title:{
      type:String,
      default:'烟感设备'
    }
  },
  data() {
    return {
      showImg: true,
    };
  },
  mounted() {},
  watch: {
    isShow(nval) {
      if (nval) {
        this.workImgList = [];
        this.checkList = [];
        this._getListDetailById(this.row.id);
      }
    },
  },
  methods: {
    openImg(type) {
      this.showImg = type;
    },
    close() {
      this.$emit('close');
    },
  },
};
</script>
<style lang="less" scoped>
.confxlytainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 21;
  // background: rgba(0, 0, 0, 0.7);
  background: url('@/assets/img4/botton-bg.png') no-repeat center;
  .center-container {
    width: 1026px;
    height: 826px;
    overflow: hidden;
    position: relative;
    background: url('@/assets/img4/s-pop-bg.png') no-repeat center;
    background-size: 100% 100%;
    box-sizing: border-box;
    padding: 12px 35px 35px 35px;
    .close {
      width: 54px;
      height: 53px;
      position: absolute;
      top: 0px;
      right: 0px;
      background: url('@/assets/img4/close.png') no-repeat center;
      background-size: 100% 100%;
      cursor: pointer;
    }
    .head {
      width: 100%;
      height: 79px;
      background: url('@/assets/img4/pop-title.png') no-repeat center;
      background-size: auto 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Lucida Calligraphy', cursive, serif, sans-serif;
      font-size: 30px;
      font-weight: normal;
      font-stretch: normal;
      letter-spacing: 2px;
      color: #ffffff;
    }
    .body-box {
      width: 100%;
      height: calc(100% - 100px);
      margin-top: 8px;
      overflow: auto;
      // background: red;
      box-sizing: border-box;
      // padding-left:20px;
      position: relative;
    }
  }
}
.post1 {
  position: absolute;
  left: 12px;
  top: 172px;
  height: 40px;
  width: 131px;
  cursor: pointer;
}
.post2 {
  position: absolute;
  left: 12px;
  top: 342px;
  height: 40px;
  width: 131px;
  cursor: pointer;
}
</style>
