<template>
  <div class="container" v-if="isShow">
    <div class="center-container">
      <div class="head">{{ logo2 }}{{ logo1 }}</div>
      <div class="close" @click="close"></div>
      <div class="tab" v-if="listType=='point'">
        <div @click="tabClick('fire')" :class="['item', currentTab == 'fire' ? 'item-act' : '']">
          <span>火灾预警</span>
        </div>
        <div @click="tabClick('camera')" :class="['item', currentTab == 'camera' ? 'item-act' : '']">
          <span>温感预警</span>
        </div>
      </div>
      <div class="table-box">
        <Table :tableColumns="tableColumns" :tableData="tableData" :headTextColor="'#e4f0ff'" :rowTextColor="'#a6b9ff'" :hasIndex="true">
          <template slot="operate" slot-scope="scope">
            <div style="width: 100%; display: flex; align-items: center">
              <div class="btn-slot" @click="taskDispatch(scope.row)">查看</div>
            </div>
          </template>
        </Table>
      </div>
      <div class="pagination">
        <el-pagination @current-change="pageNumChange" :current-page="currentPage" :page-size="pageSize" :pager-count="5" layout="total, prev, pager, next" :total="total"> </el-pagination>
      </div>
    </div>
  </div>
</template>
<script>
import {get_list_by_device,get_list_by_point} from '@/api/xsApi3.js';
import Table from './component/tablelist';
export default {
  props: {
    isShow: {
      type: Boolean,
      default: false,
    },
    listType:{
      type:String,
      required:true
    },
    paramsData:{
      type:Object,
      required:true
    },
    logo1: {
      type: String,
      default: '',
    },
    logo2: {
      type: String,
      default: '',
    },
  },
  components: { Table },
  data() {
    return {
      bumpPointList: [],
      streetList: [],
      tableColumns: [
        {
          name: '文保单位',
          props: 'bump_point_name',
          format: row => {
            if (row.bump_point_name) {
              return row.bump_point_name;
            } else {
              return '-';
            }
          },
        },
        {
          name: '设备名称',
          props: 'name',
          format: row => {
            if (row.name) {
              return row.name;
            } else if(row.src_name&&this.listType=='point'){
              return row.src_name
            }else {
              return '-';
            }
          },
        },
        {
          name: '设备类型',
          props: 'srcName',
          format: row => {
            if (row.srcName) {
              return row.srcName;
            } else if(row.src_type&&this.listType=='point'){
              return row.src_type
            }else {
              return '-';
            }
          },
        },
        {
          name: '事件类型',
          props: 'event_type_str',
          format: row => {
            if (row.event_type_str) {
              return row.event_type_str;
            } else if(row.event_type_name&&this.listType=='point'){
              return row.event_type_name
            }else{
              return '-';
            }
          },
        },
        {
          name: '预设值',
          props: 'preset_value',
          format: row => {
            if (row.preset_value) {
              return row.preset_value;
            } else {
              return '-';
            }
          },
        },
        {
          name: '监测值',
          props: 'value',
          format: row => {
            if (row.value) {
              return row.value + row.value_unit;
            } else if(row.cur_temperature&&this.listType=='point'){
              return row.cur_temperature + '℃'
            }else {
              return '-';
            }
          },
        },
        {
          name: '预警时间',
          props: 'happen_time',
          flex:1.2,
          format: row => {
            if (row.happen_time) {
              return row.happen_time;
            } else {
              return '-';
            }
          },
        },
        {
          name: '处置状态',
          props: 'isOver',
          format: row => {
            if (row.isOver) {
              if (row.isOver == 1) {
                return '已处置';
              } else {
                return '未处置';
              }
            } else {
              return '-';
            }
          },
        },
        {
          name: '操作',
          props: 'operate',
          withSlot: true,
        },
      ],
      tableData: [
        {
          tag1: '121',
        },
      ],
      pageSize: 15,
      currentPage: 1,
      total: 0,

      currentTab:'fire' //camera
    };
  },
  mounted() {
    // 挂载到body下
    this.$nextTick(() => {
      const body = document.querySelector('body');
      if (body.append) {
        body.append(this.$el);
      } else {
        body.appendChild(this.$el);
      }
    });
  },
  watch: {
    isShow(nval, val) {
      this.currentPage = 1;
      this.total = 0;
      this.$nextTick(() => {
        if (nval) {
          this.getListData();
        }
      });
    },
  },
  computed: {},
  methods: {
    taskDispatch(item) {
      //
    },
    tabClick(type){
      this.currentTab=type
      this.currentPage=1
      this.getListData()
    },
    pageNumChange(val) {
      this.currentPage = val;
      this.getListData();
    },
    getListData() {
      if(this.listType=='device'){
        this.getListByDevice()
      }else if(this.listType=='point'){
        this.getListByPoint(this.currentTab)
      }
    },
    getListByDevice(){
      console.log('参数123',this.paramsData)
      let params={
        device_id:this.paramsData.device_id,
        category:this.paramsData.category,
        page:this.currentPage,
        size:this.pageSize,
      }
      get_list_by_device(params).then(res=>{
        console.log('预警列表1',res.data)
        this.tableData = res.data.data.list
        this.total = res.data.data.total
      })
    },
    getListByPoint(type){
      console.log('参数123',this.paramsData)
      let params={
        point_id:this.paramsData.id,
        category:type,
        page:this.currentPage,
        size:this.pageSize,
      }
      get_list_by_point(params).then(res=>{
        console.log('预警列表2',res.data)
        this.tableData = res.data.data.list
        this.total = res.data.data.total
      })
    },
    close() {
      this.$emit('close');
      this.tableData = [];
    },
  },
};
</script>
<style lang="less" scoped>
.container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 13;
  background: rgba(0, 0, 0, 0.7);

  .center-container {
    width: 1400px;
    height: 826px;
    position: relative;
    background: url('@/assets/img4/s-pop-bg.png') no-repeat center;
    background-size: 100% 100%;
    box-sizing: border-box;
    padding: 12px 35px 35px 35px;

    .close {
      width: 54px;
      height: 53px;
      position: absolute;
      top: 0px;
      right: 0px;
      background: url('@/assets/img4/close.png') no-repeat center;
      background-size: 100% 100%;
      cursor: pointer;
    }

    .head {
      width: 100%;
      height: 79px;
      background: url('@/assets/img4/pop-title.png') no-repeat center;
      background-size: auto 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      font-family: 'Lucida Calligraphy', cursive, serif, sans-serif;
      font-size: 30px;
      font-weight: normal;
      font-stretch: normal;
      letter-spacing: 2px;
      color: #ffffff;
    }

    .search-box {
      width: calc(100% - 20px);
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      margin-left: 10px;

      .search-params {
        width: auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        box-sizing: border-box;

        span {
          font-family: MicrosoftYaHei;
          font-size: 16px;
          font-weight: normal;
          font-stretch: normal;
          letter-spacing: 0px;
          color: #f5fdff;
          margin-left: 20px;
          margin-right: 5px;
        }

        span:nth-child(1) {
          margin-left: 0;
        }
      }

      .btn-search {
        width: 60px;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border: 1px solid #8ba4fe;
        background: #34478c;
        font-family: PingFangSC-Semibold;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 1px;
        color: #8ba4fe;
        cursor: pointer;
      }
    }

    .tab {
      width: 50%;
      height: 42px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: 35px;
      .item {
        width: 188px;
        height: 100%;
        background: url('@/assets/img4/pop-tab-n.png') no-repeat center;
        background-size: 100% 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        span {
          font-family: SourceHanSansCN-Bold;
          font-size: 18px;
          font-weight: normal;
          font-stretch: normal;
          letter-spacing: 1px;
          color: rgba(141, 162, 196, 0.68);
        }
      }
      .item-act {
        background: url('@/assets/img4/pop-tab-s.png') no-repeat top;
        background-size: 100% auto;
        span {
          font-family: SourceHanSansCN-Bold;
          font-size: 18px;
          font-weight: normal;
          font-stretch: normal;
          letter-spacing: 1px;
          // color: rgba(206, 220, 244, 1);
          box-shadow: 0px 1px 3px 0px rgba(17, 15, 27, 0.26);
          text-shadow: 0px 0px 7px rgba(52, 255, 204, 0.1);
          background: linear-gradient(180deg, #ffffff 26%, #63f7ff 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }

    .table-box {
      width: 100%;
      height: 600px;

      .btn-slot {
        width: 60px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border: 1px solid #8ba4fe;
        background: #34478c;
        font-family: PingFangSC-Semibold;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 1px;
        color: #8ba4fe;
        cursor: pointer;
      }
    }

    .pagination {
      text-align: center;
    }
  }
}
</style>
